# Lab 1: Fishery

In [11]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

from sklearn.neighbors import KNeighborsClassifier
import mglearn #library provided by amueller
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('/mnt/data/public/fisheries-catch-data/global-catch-data/csv/rfmo_12.csv')
df

,rfmo_id,rfmo_name,layer_name,year,scientific_name,common_name,functional_group,commercial_group,fishing_entity,sector_type,catch_status,reporting_status,gear_name,catch_sum,real_value
0,12,NEAFC,rfmo,1950,Marine fishes not identified,Marine fishes nei,Medium demersals (30 - 89 cm),Other fishes & inverts,Belgium,Industrial,Discards,Unreported,bottom trawl,1082.915358,1.587554e+06
1,12,NEAFC,rfmo,1950,Marine fishes not identified,Marine fishes nei,Medium demersals (30 - 89 cm),Other fishes & inverts,Belgium,Industrial,Discards,Unreported,shrimp trawl,112.044683,1.642575e+05
2,12,NEAFC,rfmo,1950,Marine fishes not identified,Marine fishes nei,Medium demersals (30 - 89 cm),Other fishes & inverts,Belgium,Industrial,Discards,Unreported,beam trawl,1937.004283,2.839648e+06
3,12,NEAFC,rfmo,1950,Marine fishes not identified,Marine fishes nei,Medium demersals (30 - 89 cm),Other fishes & inverts,Belgium,Industrial,Discards,Unreported,otter trawl,103.114690,1.511661e+05
4,12,NEAFC,rfmo,1950,Marine fishes not identified,Marine fishes nei,Medium demersals (30 - 89 cm),Other fishes & inverts,Belgium,Industrial,Discards,Unreported,pelagic trawl,0.657854,9.644143e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084097,12,NEAFC,rfmo,2018,Donax trunculus,Truncate donax,Other demersal invertebrates,Molluscs,Spain,Artisanal,Landings,Reported,artisanal fishing gear,0.012357,3.617894e-01
1084098,12,NEAFC,rfmo,2018,Nassarius mutabilis,Changeable nassa,Other demersal invertebrates,Molluscs,Spain,Artisanal,Discards,Unreported,artisanal fishing gear,0.000093,1.366447e-01
1084099,12,NEAFC,rfmo,2018,Nassarius mutabilis,Changeable nassa,Other demersal invertebrates,Molluscs,Spain,Artisanal,Landings,Reported,artisanal fishing gear,0.002191,1.637576e-02
1084100,12,NEAFC,rfmo,2018,Nassarius mutabilis,Changeable nassa,Other demersal invertebrates,Molluscs,Spain,Artisanal,Landings,Reported,artisanal fishing gear,0.000001,4.102140e-09
1084101,12,NEAFC,rfmo,2018,Nassarius mutabilis,Changeable nassa,Other demersal invertebrates,Molluscs,Spain,Artisanal,Landings,Reported,artisanal fishing gear,0.000001,4.102140e-09

In [5]:
print(df.shape)     # number of rows, columns
print(df.info())

(1084102, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1084102 entries, 0 to 1084101
Data columns (total 15 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   rfmo_id           1084102 non-null  int64
 1   rfmo_name         1084102 non-null  object
 2   layer_name        1084102 non-null  object
 3   year              1084102 non-null  int64
 4   scientific_name   1084102 non-null  object
 5   common_name       1084102 non-null  object
 6   functional_group  1084102 non-null  object
 7   commercial_group  1084102 non-null  object
 8   fishing_entity    1084102 non-null  object
 9   sector_type       1084102 non-null  object
 10  catch_status      1084102 non-null  object
 11  reporting_status  1084102 non-null  object
 12  gear_name         1084102 non-null  object
 13  catch_sum         1084102 non-null  float64
 14  real_value        1084102 non-null  float64
dtypes: float64(2), int64(2), object(11)
memory usage: 124.1+ MB
None

In [6]:
df.duplicated().sum() #checks for duplicate

262600

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
rfmo_id,1084102.0,1.200000e+01,0.000000e+00,1.200000e+01,12.000000,12.000000,12.000000,1.200000e+01
year,1084102.0,1.989451e+03,1.964010e+01,1.950000e+03,1974.000000,1992.000000,2007.000000,2.018000e+03
catch_sum,1084102.0,6.898509e+02,1.109438e+04,0.000000e+00,0.001920,0.132962,8.334396,1.753297e+06
real_value,1084102.0,1.596197e+08,8.862529e+09,7.838210e-24,0.000741,1.784866,4191.744391,3.721474e+12