# Lab 1: Anime Reccomendation Database

In [1]:
import urllib.request
import pandas as pd
import sqlite3

In [2]:
df = pd.read_csv('/mnt/data/public/anime-recommendations-database/anime.csv')
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [3]:
print(df.shape)     # number of rows, columns
print(df.info())

(12294, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB
None

In [4]:
df.duplicated().sum() #checks for duplicate

0

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
anime_id,12294.0,14058.221653,11455.294701,1.00,3484.25,10260.50,24794.50,34527.0
rating,12064.0,6.473902,1.026746,1.67,5.88,6.57,7.18,10.0
members,12294.0,18071.338864,54820.676925,5.00,225.00,1550.00,9437.00,1013917.0

In [6]:
df1 = pd.read_csv('/mnt/data/public/anime-recommendations-database/rating.csv')
df1

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

[7813737 rows x 3 columns]

In [7]:
print(df1.shape)     # number of rows, columns
print(df1.info())

(7813737, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7813737 entries, 0 to 7813736
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 178.8 MB
None

In [8]:
# Define the database file name
db_file = 'anime.db'

# Establish the connection
# The connection object 'conn' represents the database
conn = sqlite3.connect(db_file)

print(f"\nSuccessfully connected to or created the database: {db_file}")

Successfully connected to or created the database: anime.db

In [9]:
table_name = 'anime_table'

# Write the DataFrame to the SQL table
df.to_sql(
    name=table_name,
    con=conn,
    if_exists='replace', # Replace the table if it already exists
    index=False          # Don't save the DataFrame index as a column
)

print(f"\nData successfully saved to table: {table_name}")

Data successfully saved to table: anime_table

In [10]:
df_from_db = pd.read_sql(f'SELECT * FROM {table_name}', conn)

df_from_db

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [11]:
table_name = 'rating_table'

df1.to_sql(
    name=table_name,
    con=conn,
    if_exists='replace', # Replace the table if it already exists
    index=False          # Don't save the DataFrame index as a column
)

print(f"\nData successfully saved to table: {table_name}")

Data successfully saved to table: rating_table

In [12]:
df_from_db = pd.read_sql(f'SELECT * FROM {table_name}', conn)

df_from_db

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

[7813737 rows x 3 columns]

In [13]:
df_exploded = df.assign(genre=df['genre'].str.split(', ')).explode('genre')

# Clean up any potential leading/trailing whitespace in the genre names
df_exploded['genre'] = df_exploded['genre'].str.strip()

# Optional: Reset the index for a cleaner look in the table
df_exploded = df_exploded.reset_index(drop=True)

print("Exploded DataFrame (Ready for saving):")
df_exploded

Exploded DataFrame (Ready for saving):

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,Drama,Movie,1,9.37,200630
1,32281,Kimi no Na wa.,Romance,Movie,1,9.37,200630
2,32281,Kimi no Na wa.,School,Movie,1,9.37,200630
3,32281,Kimi no Na wa.,Supernatural,Movie,1,9.37,200630
4,5114,Fullmetal Alchemist: Brotherhood,Action,TV,64,9.26,793665
...,...,...,...,...,...,...,...
36342,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
36343,5543,Under World,Hentai,OVA,1,4.28,183
36344,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
36345,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
36346,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [14]:
new_table_name = 'anime_genre'

# Save the DataFrame to the SQLite table
df_exploded.to_sql(
    name=new_table_name,
    con=conn,
    if_exists='replace', # Creates the new table or overwrites an existing one
    index=False          # Do not save the DataFrame index as a column
)

# Close the database connection
conn.close()

print(f"\n✅ Data successfully split and saved to the single new table: **{new_table_name}**")

✅ Data successfully split and saved to the single new table: **anime_genre**

In [15]:
conn = sqlite3.connect(db_file)

print(f"Connection re-established to {db_file}")

Connection re-established to anime.db

In [16]:
table_name = 'anime_genre'
pd.set_option('display.max_rows', 20)
df_from_db = pd.read_sql(f'SELECT * FROM {table_name}', conn)

df_from_db

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,Drama,Movie,1,9.37,200630
1,32281,Kimi no Na wa.,Romance,Movie,1,9.37,200630
2,32281,Kimi no Na wa.,School,Movie,1,9.37,200630
3,32281,Kimi no Na wa.,Supernatural,Movie,1,9.37,200630
4,5114,Fullmetal Alchemist: Brotherhood,Action,TV,64,9.26,793665
...,...,...,...,...,...,...,...
36342,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
36343,5543,Under World,Hentai,OVA,1,4.28,183
36344,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
36345,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
36346,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [17]:
condition_episodes = df['episodes'] != 'Unknown'

# 2. Condition for 'genre' (A OR B)
# A: genre is NULL (NaN in pandas)
condition_genre_null = df['genre'].isna()

# B: genre is an empty string or only whitespace (equivalent to SQL's TRIM(genre) = '')
# We first cast to string to use .str.strip(), then check if it equals an empty string.
condition_genre_empty_or_whitespace = df['genre'].astype(str).str.strip() == ''

# Combine the two genre conditions using OR (|)
condition_genre_blank = condition_genre_null | condition_genre_empty_or_whitespace

# 3. Combine ALL conditions
# Use AND (&) to join the episodes condition with the genre condition
df_filtered = df[condition_episodes | condition_genre_blank]
df_filtered

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [18]:
conn = sqlite3.connect('anime.db')
cursor = conn.cursor()
command = """SELECT * FROM anime_table
where genre is not '' AND genre IS NOT NULL AND
type IS NOT '' AND type IS NOT NULL AND
episodes IS NOT 'Unknown' AND episodes IS NOT NULL AND
rating IS NOT NULL
ORDER BY rating ASC

"""
df_anime_sql = pd.read_sql(command, conn)
df_anime_sql

,anime_id,name,genre,type,episodes,rating,members
0,34476,Platonic Chain: Ansatsu Jikkouchuu,"Sci-Fi, Slice of Life",Special,1,1.67,51
1,20007,Hi Gekiga Ukiyoe Senya Ichiya,"Action, Hentai",Movie,1,1.92,129
2,3287,Tenkuu Danzai Skelter+Heaven,"Mecha, Sci-Fi",OVA,1,2.00,7680
3,13405,Utsu Musume Sayuri,"Comedy, Dementia",OVA,1,2.14,4047
4,413,Hametsu no Mars,"Horror, Sci-Fi",OVA,1,2.37,27557
...,...,...,...,...,...,...,...
11825,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
11826,33607,Kahei no Umi,Historical,Movie,1,9.33,44
11827,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
11828,23005,Mogura no Motoro,Slice of Life,Movie,1,9.50,62
11829,33662,Taka no Tsume 8: Yoshida-kun no X-Files,"Comedy, Parody",Movie,1,10.00,13

In [19]:
cursor = conn.cursor()
command = """SELECT * FROM anime_genre
where genre is not '' AND genre IS NOT NULL AND
type IS NOT '' AND type IS NOT NULL AND
episodes IS NOT 'Unknown' AND episodes IS NOT NULL AND
rating IS NOT NULL
ORDER BY rating ASC

"""
df_anime_genre_sql = pd.read_sql(command, conn)
df_anime_genre_sql

,anime_id,name,genre,type,episodes,rating,members
0,34476,Platonic Chain: Ansatsu Jikkouchuu,Sci-Fi,Special,1,1.67,51
1,34476,Platonic Chain: Ansatsu Jikkouchuu,Slice of Life,Special,1,1.67,51
2,20007,Hi Gekiga Ukiyoe Senya Ichiya,Action,Movie,1,1.92,129
3,20007,Hi Gekiga Ukiyoe Senya Ichiya,Hentai,Movie,1,1.92,129
4,3287,Tenkuu Danzai Skelter+Heaven,Mecha,OVA,1,2.00,7680
...,...,...,...,...,...,...,...
35196,32281,Kimi no Na wa.,School,Movie,1,9.37,200630
35197,32281,Kimi no Na wa.,Supernatural,Movie,1,9.37,200630
35198,23005,Mogura no Motoro,Slice of Life,Movie,1,9.50,62
35199,33662,Taka no Tsume 8: Yoshida-kun no X-Files,Comedy,Movie,1,10.00,13
35200,33662,Taka no Tsume 8: Yoshida-kun no X-Files,Parody,Movie,1,10.00,13

In [20]:
command = """SELECT * FROM rating_table
WHERE rating IS NOT '-1'

"""
df_rating_sql = pd.read_sql(command, conn)
df_rating_sql

         user_id  anime_id  rating
0              1      8074      10
1              1     11617      10
2              1     11757      10
3              1     15451      10
4              2     11771      10
...          ...       ...     ...
6337236    73515     16512       7
6337237    73515     17187       9
6337238    73515     22145      10
6337239    73516       790       9
6337240    73516      8074       9

[6337241 rows x 3 columns]